@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&family=Inter:wght@300;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,500;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Additional CSS styles can be added here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}
/* font-family: 'EB Garamond', serif;
font-family: 'Inter', sans-serif;

 */
.logo {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
 color: black;
}
.logo:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 3px;

}
.logo2 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: rgb(0, 0, 0);
}
.logo2:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 3px;
 
}
/* 
.react-multi-carousel-item react-multi-carousel-item--active {
  width: auto;
} */
@layer utilities {
  @keyframes typingEffect {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .animate-typingEffect {
    animation: typingEffect 1s steps(40, end) infinite,
      blink-caret 0.75s step-end infinite;
    white-space: nowrap;
  }
}

@layer base {
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }
}
#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #FBB6AC; 
  --gradient-color-2: #022d64; 

  --gradient-color-4: #ffffff; /* White */

  background: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3), var(--gradient-color-4));
}


/* Animation for expanding the search bar */
.h-9 {
  height: 2.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

/* Animation for showing/hiding the search results */
.transition-all {
  transition-property: all;
  transition-duration: 0.3s;
}

.hidden {
  display: none;
}
.transition-width {
  transition-property: width;
  transition-duration: 0.3s;
}
